{% extends 'blog/base.html' %}

{% block content %}
  <div>
    <div style="padding-top: 5%; padding-left: 5%;">
      <h3 class="panel-title">회원수정</h3>
    </div>
    <div class="panel-body">
      <form role="form" action="{% url 'mypage' %}" id="mypage_form" method="POST">
        {% csrf_token %}
        <fieldset>
          <div class="w-100" style="padding-left: 5%; padding-right: 5%; margin-top: 10px;">
            ID : {{user}}
          </div>
          <div class="w-100" style="padding-left: 5%; padding-right: 5%;padding-top: 3%; margin-top: 10px;">
            성 : <input class="form-control" placeholder="First name" name="first_name" value="{{user.first_name}}" required="">
          </div>
          <div class="w-100" style="padding-left: 5%; padding-right: 5%;padding-top: 3%; margin-top: 10px;">
            이름 : <input class="form-control" placeholder="Last name" name="last_name" value="{{user.last_name}}" required="">
          </div>
          <div class="w-100" style="padding-left: 5%; padding-right: 5%;padding-top: 3%; margin-top: 10px;">
            이메일 : <input class="form-control" placeholder="E-mail" name="email" value="{{user.email}}" required="">
          </div>
          <!-- Change this to a button or input when using this as a form -->
          <div class="d-grid gap-2 col-11 mx-auto p-2">
            <input type="submit" class="btn btn-lg btn-success btn-block" style="margin-top: 10px; margin-bottom: 10px;"
              value="수정하기">
          </div>
        </fieldset>
      </form>
      <div id="comment" style="margin-bottom: 30px;" class="container">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-default" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                aria-controls="collapseTwo">
                <strong>회원 탈퇴하기</strong>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#comment">
            <div class="card-body">
              <form method="POST" action="{% url 'member_del' %}" class="post-form">
                {% csrf_token %}
                비밀번호 : <input type="password" class="form-control" name="pw_del" placeholder="비밀번호를 입력해주세요."/>
                <div style="text-align: right; margin-top: 10px;">
                  <button type="submit" class="btn btn-success">탈퇴</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock%}