<head>
    <title>Django Girls blog</title>
</head>

<body>
    <div>
        <h1>
            <a href="">Django Girls Blog</a>
        </h1>
    </div>
    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2>
            <a href="">My first post</a>
        </h2>
        <p>Aeneaneuleoquam. Pellentesqueornaresemlaciniaquam venenatisvestibulum. Donecid elitnon mi porta gravida at
            egetmetus. Fuscedapibus, tellusac cursus commodo, tortormauriscondimentumnibh, utfermentummassajustosit
            ametrisus.</p>
    </div>
    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2>
            <a href="">My second post</a>
        </h2>
        <p>Aeneaneuleoquam. Pellentesqueornaresemlaciniaquam venenatisvestibulum. Donecid elitnon mi porta gravida at
            egetmetus. Fuscedapibus, tellusac cursus commodo, tortormauriscondimentumnibh, utf.</p>
    </div>
</body>

</html>